#
# Server configuration
#
HOST                = "localhost" # Where to host the backend. Set to 0.0.0.0 if using docker compose. Default: localhost
PORT                = 8000 # Port to run the backend on. Default: 8000
FRONTEND_URL        = "http://localhost:4321" # Where the frontend is hosted. Default: http://localhost:4321

#
# LLM Config & API Keys
#
DEFAULT_PROVIDER    = groq # Default LLM provider to use. No need to change unless you only want to use gemini. Options: groq, gemini, openai, cohere

GROQ_API_KEY        = ultra.secret-key-you-need-to-replace # Replace with your Groq API key
GROQ_MODEL_NAME     = "llama-3.3-70b-versatile" # Main model used for answer generation. Default: llama-3.3-70b-versatile

GEMINI_API_KEY      = ultra.secret-key-you-need-to-replace # Replace with your Google AIStudio API key
GEMINI_MODEL_NAME   = "gemini-3.5-flash" # Main model used for answer generation. Default: gemini-3.5-flash

OPENAI_API_KEY      = ultra.secret-key-you-need-to-replace # Replace with your OpenAI API key
OPENAI_MODEL_NAME   = "gpt-4o-mini" # Main model used for answer generation. Default: gpt-4o-mini

COHERE_API_KEY      = ultra.secret-key-you-need-to-replace # Replace with your own Cohere AI API key
COHERE_MODEL_NAME   = "command-a-03-2025" # Main model used for answer generation. Default: command-a-03-2025

#
# RAG
#
DOCUMENTS_PATH      = ../documents # Path to the directory where the documents are stored
FAISS_INDEX_PATH    = ./faiss_index # Path to the directory where the FAISS index is stored. Doesn't need to exist beforehand.
EMBEDDINGS_MODEL    = sentence-transformers/paraphrase-multilingual-MiniLM-L12-v2 # Embeddings model used to create vector representations of the documents
CHUNK_SIZE          = 300 # Size of each chunk when splitting the documents
CHUNK_OVERLAP       = 100 # Overlap between chunks when splitting the documents