#
# Server configuration
#
HOST                = "localhost" # Where to host the backend. Default: localhost
PORT                = 8000 # Port to run the backend on. Default: 8000
FRONTEND_URL        = "http://localhost:4321" # Where the frontend is hosted. Default: http://localhost:4321

#
# LLM Config & API Keys
#
DEFAULT_PROVIDER    = groq # Default LLM provider to use. Options: groq, gemini

GROQ_API_KEY        = ultra.secret-key-you-need-to-replace # Replace with your Groq API key
GROQ_MODEL_NAME     = "qwen/qwen3.6-27b" # Model name for Groq's model. Default: qwen/qwen3.6-27b

GEMINI_API_KEY      = ultra.secret-key-you-need-to-replace # Replace with your Google AIStudio API key
GEMINI_MODEL_NAME   = "gemini-3.5-flash" # Model name for Gemini's model. Default: gemini-3.5-flash

#
# RAG
#
DOCUMENTS_PATH      = ../documents # Path to the directory where the documents are stored
FAISS_INDEX_PATH    = ./faiss_index # Path to the directory where the FAISS index is stored
EMBEDDINGS_MODEL    = sentence-transformers/paraphrase-multilingual-MiniLM-L12-v2 # Embeddings model used to create vector representations of the documents
CHUNK_SIZE          = 500 # Size of each chunk when splitting the documents
CHUNK_OVERLAP       = 50 # Overlap between chunks when splitting the documents